[user]
	name = Geoffrey Hichborn
	email = geoff@socialcast.com
[core]
  editor = mate -w
  pager = "less -RciqMSj5"
[alias]
	put = push origin HEAD
	find = branch -r --contains 
	done = commit -a -m
	co = checkout
	undo = reset --hard
	rco = !sh -c 'grb track $1 && git co $1' -
	work = !sh -c 'git rco $1 && git pull && rake db:demo:import && rake db:test:clone && touch tmp/restart.txt' -
	rlist = branch -r
	l =  log --pretty=oneline --relative-date
	ll = log --summary --stat --pretty=oneline --relative-date


